/* -------------------------------- 

File#: _1_hero
Title: Hero
Descr: A full-width callout section
Usage: codyhouse.co/license

-------------------------------- */

/* reset */
*, *::after, *::before {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  color: hsl(230, 13%, 9%);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem; /* 40px */
}

h2 {
  font-size: 2.125rem; /* 34px */
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.375rem; /* 22px */
}

a {
  color: hsl(250, 84%, 54%);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img, video, svg {
  display: block;
  max-width: 100%;
}
/* -------------------------------- 

Component 

-------------------------------- */

.hero {
  padding: 2rem 0;
  border: 1px solid red;
  color: white;
    text-align: center;

}

@media (min-width: 64rem) {
  .hero {
    padding: 3rem 0;
  }
}

/* -------------------------------- 

Utilities 

-------------------------------- */

.cd-margin-bottom-2xs {
  margin-bottom: 0.75rem;
}

.cd-margin-bottom-xs {
  margin-bottom: 1rem;
}

.cd-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.cd-container {
  width: calc(100% - 3rem);
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.cd-max-width-xs {
  max-width: 32rem;
}

.cd-max-width-adaptive-sm,
.cd-max-width-adaptive-md,
.cd-max-width-adaptive-lg {
  max-width: 32rem;
}

@media (min-width: 48rem) {
  .cd-max-width-adaptive-sm,
  .cd-max-width-adaptive-md,
  .cd-max-width-adaptive-lg {
    max-width: 48rem;
  }
}

@media (min-width: 64rem) {
  .cd-max-width-adaptive-md,
  .cd-max-width-adaptive-lg {
    max-width: 64rem;
  }
}

@media (min-width: 85.5rem) {
  .cd-max-width-adaptive-lg {
    max-width: 80rem;
  }
}

.cd-flex {
  display: flex;
}

.cd-justify-end {
  justify-content: end;
}

.cd-link {
  color: hsl(250, 84%, 54%);
  text-decoration: none;
  background-image: linear-gradient(to right, hsl(250, 84%, 54%) 50%, hsla(250, 84%, 54%, 0.2) 50%);
  background-size: 200% 1px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  transition: background-position 0.2s;
}

.cd-link:hover {
  background-position: 0% 100%;
}

.cd-link--contrast-higher {
  color: hsl(230, 13%, 9%);
  background-image: linear-gradient(to right, hsl(230, 13%, 9%) 50%, hsla(230, 13%, 9%, 0.1) 50%);
}

.cd-line-height-lg {
  line-height: 1.58;
}