@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-gabarito: "Gabarito", sans-serif;
  --font-instrument-serif: "Instrument Serif", serif;
}
/* Fonts we have: Instrument Serif, Inter, Roboto, Gabarito */