<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FireSolve</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Gabarito:wght@400..900&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Load Tailwind first -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- Then custom styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'landing.css' %}">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="icon" type="image/png" href="{% static 'logos/title-image.png' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% block extra_head %}
    {% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-gray-900 font-gabarito">
  <div class="sm:px-8 sm:py-8 navbar">
    
      <a href="{% url 'dashboard' %}" class="flex items-center"><img class="sm:h-14 sm:w-50 h-8 w-27" src="{% static 'logos/logo-1-transparent.png' %}" alt="FireSolve"></a>
    <div class="buttons">
    {%block buttons%}
    {% if user.is_authenticated or user_data.is_owner %}
    <a href="{% url 'profile' request.user.username %}"><span class="h-8 w-16 sm:h-10 sm:w-20 btn btn-outline border-white text-white">Profile</span></a>
        <a href="{% url 'logout' %}"><span class="h-8 w-16 sm:h-10 sm:w-20 btn btn-soft">Logout</span></a>
    {% else %}
        <div class="buttons">
          <a href="{% url 'signup' %}"><span class="h-8 w-16 sm:h-10 sm:w-20 btn btn-secondary">Signup</span></a>
          <a href="{% url 'login' %}"><span class="h-8 w-16 sm:h-10 sm:w-20 btn btn-outline btn-secondary">Login</span></a>
        </div>
        {% endif %}
        {%endblock buttons%}
      </div>
    </div>
<main class="flex-grow font-poppins">
  {% block content %}
  {% endblock content %}
</main>
<div class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="{% static 'logos/logo-1-transparent.png' %}" alt="FireSolve Logo">
        </div>
        <div class="footer-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="footer-text">
        &copy; 2025 FireSolve. All rights reserved.
    </div>
</body>
</html>
