<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FireSolve</title>
    <link rel="icon" type="image/png" href="{% static 'logos/title-image.png' %}"/>
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'landing.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
</head>
<body class="flex flex-col min-h-screen">
  <div class="navbar">
    
      <a href="{% url 'dashboard' %}" class="logo"><img class="logo-img" src="{% static 'logos/logo-1-transparent.png' %}" alt="FireSolve"></a>
    <div class="buttons">
    {%block buttons%}
    {% if user.is_authenticated %}
    <a href="{% url 'profile' request.user.username %}"><span class="get-started">Profile</span></a>
        <a href="{% url 'logout' %}"><span class="get-started">Logout</span></a>
    {% else %}
        <div class="buttons">
          <a href="{% url 'signup' %}"><span class="get-started">Signup</span></a>
          <a href="{% url 'login' %}"><span class="get-started">Login</span></a>
        </div>
        {% endif %}
        {%endblock buttons%}
      </div>
    </div>
<main class="flex-grow">
  {% block content %}
  {% endblock content %}
</main>
<div class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <img src="{% static 'logos/logo-1-transparent.png' %}" alt="FireSolve Logo">
        </div>
        <div class="footer-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact</a>
        </div>
    </div>
    <div class="footer-text">
        &copy; 2025 FireSolve. All rights reserved.
    </div>
</body>
</html>
