{%extends 'base.html'%}
{%block content%}
<div class="main-container">
    <div class="hero-box">
        <div class="hero-title">Lets solve codechef potd!</div>

        <div class="curr-box">
            <div class="curr-box-title">Todays Problem</div>
            <div class="curr-box-problem">
                <div class="problem-name">Problem Name</div>
                <div class="problem-link"><a href="https://www.codechef.com/problems/PROBLEM_NAME" target="_blank">Solve Problem</a></div>
            </div>
        </div>

    </div>
</div>
{%endblock content%}