{%extends 'base.html'%} {%block content%}
{% if iscodechef %}
<div class="flex min-h-screen justify-center items-center">
<div class="card bg-base-100 w-96 shadow-sm">
  <div class="card-body">
    <h2 class="card-title">Codechef username missing</h2>
    <p>You need to add your codechef username in your profile first to access CodeChef POTDs.</p>
    <div class="card-actions justify-center">
      <a href="{% url 'profile' request.user.username %}"><button class="btn btn-primary">Go to Profile</button></a>
    </div>
  </div>
</div>
</div>
{% endif %}
{% if not iscodechef %}
<div class="flex text-white text-1.5xl bg-gray-900 min-h-screen">
  <div
    class="flex-3/4 flex flex-col items-center p-4 m-4 bg-gray-800 rounded-lg"
  >
    <h1 class="text-4xl font-bold mb-4">CodeChef POTD</h1>
    <div
      class="flex p-4 w-full items-center text-2xl bg-gray-500 rounded-lg shadow-lg"
    >
      Today's Problem: {{ potd.title }}
      <div class="ml-auto gap-4 flex">
        <a href="https://www.codechef.com/problems/{{ potd.problem_id }}" target="_blank" class="btn btn-primary mx-3">
  View Problem
</a>
<form method="POST" action="{% url 'refresh_potd_status' %}">
  {% csrf_token %}
  <a href="{{ potd.solution_url }}" class="btn btn-success mx-3"><button type="submit">Refresh</button></a>
</form>
      </div>
    </div>

    <div class="flex flex-col justify-center w-full">
      <div class="flex items-center p-4 w-full text-2xl">Past problems</div>
      <div class="flex flex-col w-full">
        {% for prob in past_problems %}
        <div class="flex items-center w-full">
          <div class="flex items-center p-4">
            {{ prob.title }}
          </div>
          <div class="ml-auto flex">
            <div class="flex items-center p-4">
              {{ prob.assigned_date }}
            </div>
            <a href="https://www.codechef.com/problems/{{ prob.problem_id }}" target="_blank" class="btn bg-orange-600 mx-3">
                View problem
            </a>
            <a href="{{ prob.solutionurl }}" class="btn btn-outline mx-3">
                View Solution
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="flex-1/4 flex flex-col bg-gray-800 m-4 p-4 rounded-lg">
    <h1 class="text-blue-400 text-2xl font-bold mb-4">CodeChef</h1>
    <p class="text-white mb-4">
      Current Streak: {{user_profile.current_streak}}
    </p>
  </div>
</div>
{% endif %}
{%endblock content%}
