{%extends 'base.html' %}
{%block content%}
{% load static %}
<link rel="stylesheet" href="../static/index.css">
<link rel="stylesheet" href="../static/hero.css">
<link href="{% static 'css/styles.css' %}" rel="stylesheet">

<div class="main-container">
    <section class="hero">
  <div class="cd-container cd-max-width-adaptive-sm">
    <h1 style="color: aliceblue;">Welcome {{user.username}}!</h1>
    <p class="cd-line-height-lg cd-margin-bottom-sm">Continue making streaks!</div>
</section>
    <div class="parts">
    <div class="partone">
        <div class="platform">
            <img src="../static/slider-images/img01.png" alt="" class="platform-logo">
            <div class="text-box">
                <div class="title">Codechef</div>
                <a href="{%url 'codechef' %}"><div class="get-started butt">Solve</div></a>
            </div>
            <div class="streak-box">100 🔥</div>
        </div>

        <div class="platform">
            <img src="../static/slider-images/img03.png" alt="" class="platform-logo">
            <div class="text-box">
                <div class="title">Codeforces</div>
                <div class="get-started butt">Coming soon!</div>
            </div>
            <div class="streak-box">43 🔥</div>
        </div>

        <div class="platform">
            <img src="../static/slider-images/img02.png" alt="" class="platform-logo">
            <div class="text-box">
                <div class="title">Leetcode</div>
                <div class="get-started butt">Coming Soon!</div>
            </div>
            <div class="streak-box text-amber-200">01 🔥</div>
        </div>
        <!-- NOTES TO MYSELF -->
         <!-- MAKE THIS SHIR WORK ASAP  -->
    </div>
    <div class="parttwo">
        <!-- THIS SECTION WILL SHOW THE OVERALL STREAK COUNT AND HEATMAP -->
         <!-- FOR FIRST RELEASE, KEEP OVERALL COUNT ONLY - IMPLEMENT HEATMAP LATER -->
    </div>
    </div>
</div>
{%endblock content%}