{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="first-view">
    <div class="slider-container">
        {% for j in range0to3 %}
            {% if j|divisibleby:2 %}
                <div class="slider">
            {% else %}
                <div class="slider" reverse="true">
            {% endif %}
                <div class="list">
                    {% for i in range1to9 %}
                        <div class="item" style="--position: {{i}}">
                            <img src="../static/slider-images/img0{{i}}.png" alt="landing0000001">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="first-view-text">
        <h1>Welcome to FireSolve</h1>
        <p>FireSolve is a go to platform for programmers that want to upskill by solving one problem daily from the top sites like LeetCode, GeeksforGeeks, Codechef and Codeforces.</p>
        <a href="{% url 'signup' %}" class="get-started main-button">Get-Started</a>
    </div>
</div>
{% comment %} ------------------------------- FEATURES ----------------------------- {% endcomment %}
<div class="second-view">
    
    <div class="features">
    
        <div class="title"> Features </div>
        <div class="containers">
            <div class="card bg-base-100 w-96 sm:w-70 shadow-sm">
  <figure>
    <img
      src="{% static 'feature-icons/bargraph.png' %}"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Difficulty Progression</h2>
    <p>Problems start easy at the beginning of the month and scale up by the end, allowing smooth skill growth</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<div class="card bg-base-100 w-96 sm:w-70 shadow-sm">
  <figure>
    <img
      src="{% static 'feature-icons/flame.png' %}"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Streak system</h2>
    <p>Track your daily consistency. Solve all POTDs to maintain your streak — one miss resets the count</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<div class="card bg-base-100 w-96 sm:w-70 shadow-sm">
  <figure>
    <img
      src="{% static 'feature-icons/potd.png' %}"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Unified POTD Tracker</h2>
    <p>Aggregate POTDs from all platforms - all in one dashboard. Save time and focus on solving</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
<div class="card bg-base-100 w-96 sm:w-70 shadow-sm">
  <figure>
    <img
      src="{% static 'feature-icons/leaderboard.png' %}" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">Competitive Leaderboard</h2>
    <p>Track your rank based on streak length, number of problems solved, and speed of submissions</p>
    <div class="card-actions justify-end">
    </div>
  </div>
</div>
            <!-- <div class="container">
                <img src="../static/feature-icons/trending-up.svg" class="feature-img" alt="feature1" />
                <div class="temp">
                    <div class="container-title">Difficulty Progression</div>
                    <div class="container-text">Problems start easy at the beginning of the month and scale up by the end, allowing smooth skill growth.</div>
                </div>
            </div>
            <div class="container">
                <img src="../static/feature-icons/flame.svg" class="feature-img" alt="feature2">
                <div class="temp">
                <div class="container-title">Streak system</div>
                <div class="container-text">Track your daily consistency. Solve all POTDs to maintain your streak — one miss resets the count.</div>
                </div>
            </div>
            <div class="container">
                <img src="../static/feature-icons/hand-point-up.svg" class="feature-img" alt="feature3">
                <div class="temp">
                <div class="container-title">Unified POTD Tracker</div>
                <div class="container-text">Aggregate POTDs from all platforms - all in one dashboard. Save time and focus on solving.</div>
                </div>
            </div>
            <div class="container">
                <img src="../static/feature-icons/bar-chart-2.svg" class="feature-img" alt="feature4">
                <div class="temp">
                <div class="container-title">Competitive Leaderboard</div>
                <div class="container-text">Track your rank based on streak length, number of problems solved, and speed of submissions.</div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="how-it-works">
    <div class="how-title">How It Works</div>
    <div class="steps-container">
        <div class="step">
            <div class="step-number">1</div>
            <div class="step-text">Pick a platform</div>
        </div>
        <div class="step">
            <div class="step-number">2</div>
            <div class="step-text">Solve its problem of the day</div>
        </div>
        <div class="step">
            <div class="step-number">3</div>
            <div class="step-text">Submit the solution</div>
        </div>
        <div class="step">
            <div class="step-number">4</div>
            <div class="step-text">Track progress</div>
        </div>
        <div class="step">
            <div class="step-number">5</div>
            <div class="step-text">Come back tomorrow and maintain the streak</div>
        </div>
    </div>
</div>

{% endblock content %}