{% extends 'base.html' %}
{% block content %}

<form method="POST" action="{% url 'login' %}" class="flex items-center justify-center min-h-[80vh] bg-base-200">
  {% csrf_token %}
  <div class="flex justify-center items-center card w-full max-w-sm shadow-2xl bg-base-100 p-6 rounded-lg">
    <h2 class="text-3xl font-bold text-center">Log In</h2>
    <div class="form-control mt-4">
      <label class="label"><span class="label-text">Username</span></label>
      <input type="text" name="username" class="input input-bordered w-full" required />
    </div>
    <div class="form-control mt-4">
      <label class="label"><span class="label-text">Password</span></label>
      <input type="password" name="password" class="input input-bordered w-full" required />
    </div>
    <!-- <div class="mt-6"> -->
      <button type="submit" class="btn btn-error text-white my-4">Login</button>
    <!-- </div> -->
    <p class="text-center text-sm mt-4"><span class=""> Don’t have an account?</span> <a href="{% url 'signup' %}" class="link link-error">Sign up</a></p>
  </div>
</form>

{% endblock %}