{%extends 'base.html'%}

{%block content%}
<style>
    *{
        color: white;
    }
</style>
<h1>Username: {{user_data.username}}</h1>
<p>Email: {{user_data.email}}</p>
<p>First Name: {{user_data.first_name}}</p>
<p>Last Name: {{user_data.last_name}}</p>
<p>Codechef: {{user_data.codechef_id}}</p>
<p>Codeforces: {{user_data.codeforces_id}}</p>
<p>Rating: (rating)</p>
<p>Recent submission: (recent submission)</p>
{% if user_data.is_owner %}
    <a href="{% url 'edit' username=user.username %}" class="get-started">Edit Profile</a>
    <p>YES, this is you!</p>
{% endif %}
{%endblock content%}