{%extends 'base.html'%}
<!-- {%block buttons%}
<div class="buttons">
    <a href="{% url 'profile' request.user.username %}"><span class="get-started">Profile</span></a>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><span class="get-started">Logout</span></a>
    {% else %}
        <a href="{% url 'login' %}"><span class="get-started">Login</span></a>
    {% endif %} -->
{%block content%}
<style>
    *{
        color: white;
    }
</style>
<h1>Username: {{user.username}}</h1>
<p>Email: {{user.email}}</p>
<p>First Name: {{user.first_name}}</p>
<p>Last Name: {{user.last_name}}</p>
<p>Codechef: {{user.codechef_id}}</p>
<p>Codeforces: {{user.codeforces_id}}</p>
<p>Rating: (rating)</p>
<p>Recent submission: (recent submission)</p>
{% if user.is_owner %}
    <a href="{% url 'edit' username=user.username %}" class="get-started">Edit Profile</a>
    <p>YES, this is you!</p>
{% endif %}
{%endblock content%}