{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link href="{% static 'output.css' %}" rel="stylesheet">
{{form.media}}
{% endblock %}
{% block content %}
<form action="{% url 'signup' %}" method="post" class="flex flex-col justify-center items-center min-h-screen">
  <!-- <link rel="stylesheet" href="{% static 'login.css' %}"> -->
  {% csrf_token %}
  <div class="w-full max-w-md bg-gray-800 rounded-lg shadow-lg p-8 space-y-4">
    <h2 class="text-3xl font-bold text-center">Sign Up</h2>
    <p class="text-center text-sm text-gray-500">Welcome to FireSolve!</p>
    
    <!-- Display form errors -->
    {% if form.errors %}
      <div class="alert alert-error">
        {% for field, errors in form.errors.items %}
          <p><strong>{{ field }}:</strong> {{ errors|join:", " }}</p>
        {% endfor %}
      </div>
    {% endif %}
    
    <span class="input input-bordered w-full">{{form.first_name.label_tag}} {{form.first_name}}</span>
    <span class="input input-bordered w-full">{{form.last_name.label_tag}} {{form.last_name}}</span>
    <span class="input input-bordered w-full">{{form.username.label_tag}} {{form.username}}</span>
    <span class="input input-bordered w-full">{{form.email.label_tag}} {{form.email}}</span>
    <span class="input input-bordered w-full">{{form.password1.label_tag}} {{form.password1}}</span>
    <span class="input input-bordered w-full">{{form.password2.label_tag}} {{form.password2}}</span>
    {{form.signup_secret_key}}
    {{form.website}}
    {{form.form_timestamp}}
    {{form.captcha}}
    <button type="submit" class="btn btn-error w-full">Sign Up</button>
    <p class="text-center text-sm">
      <span class="">Already have an account?</span>
      <a href="{% url 'login' %}" class="link link-error">Log In</a>
    </p>
    </div>
</form>

<script src="{% static 'login.js' %}"></script>
{% endblock content %}
